{% extends "index.html" %}
{% block content %}
{% load static %}
<h2>About US</h2>
<div class="border-top pt-3">
    <small class="text-muted">
        <a href="{% url 'index' %}">Back to Home Page</a>
    </small>
</div>

Welcome User!<br><br>

Mera Pay helps you to avail services among various options and pay for those.<br><br>

It is a platform for individuals and businesses.<br><br>

Pay or accept payments here, see the transactions history, export them to csv and see the visual charts!<br>

{% endblock content %}